.container {
  background-color: #9cddcd;
  text-align: center;
  padding: 50px 10px 80px 10px;
}
.container .logo {
  height: 32px;
  margin-bottom: 25px;
}
.sectionsLinks {
  display: flex;
  justify-content: space-around;
  margin-bottom: 85px;
}
.sectionsLinks a {
  color: var(--Dark-moderate-cyan);
  text-decoration: none;
}
.socialLinks {
  padding: 0 95px;
  display: flex;
  justify-content: space-between;
}
.socialLinks img {
  cursor: pointer;
}

@media (min-width: 1440px) {
  .container {
    padding: 60px 0;
  }
  .container .logo {
    margin-bottom: 35px;
  }
  .sectionsLinks {
    justify-content: center;
    gap: 60px;
  }
  .socialLinks {
    justify-content: center;
    gap: 25px;
  }
}
