.container {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.container h1 {
  color: var(--Grayish-blue);
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  font-family: "Fraunces", serif;
  letter-spacing: 3px;
  margin-bottom: 65px;
}
.testimonials {
  display: flex;
  flex-direction: column;
  gap: 65px;
}
.testimonial {
  text-align: center;
}
.testimonial img {
  border-radius: 50%;
  height: 80px;
  margin-bottom: 30px;
}
.testimonial .description {
  color: var(--Very-dark-grayish-blue);
  padding: 0 21px;
  line-height: 1.7;
  margin-bottom: 30px;
}
.testimonial h3 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  margin-bottom: 10px;
}
.testimonial .role {
  color: var(--Grayish-blue);
  font-size: 14px;
}

@media (min-width: 1440px) {
  .container {
    padding: 135px 0;
  }
  .container h1 {
    margin-bottom: 90px;
  }
  .testimonials {
    flex-direction: row;
    justify-content: center;
    gap: 0px;
  }
  .testimonial {
    width: 395px;
  }
  .testimonial .role {
    font-size: 16px;
  }
}
